backup/bonus6.py
backup/bonus9-if.py
backup/bonus11-Funct.py
backup/bonus12-Funct2.py
backup/bonus15.py
backup/data.txt
backup/error.py
backup/main copy.py
backup/main copy2.py
backup/bonus16-GUI.py
backup/questions.json
journal/29-04-2025.txt
journal/30-04-2025.txt
journal/bonus8.py
files/ideas.txt
files/projects.txt
files/weather.csv
doc.txt
e1.py
members.txt
presentation.txt
report.txt
__pycache__/functions.cpython-313.pyc
