backup/
backup/bonus6.py
backup/bonus9-if.py
backup/bonus11-Funct.py
backup/bonus12-Funct2.py
backup/bonus15.py
backup/data.txt
backup/error.py
backup/main copy.py
backup/main copy2.py
backup/bonus16-GUI.py
backup/questions.json
journal/29-04-2025.txt
journal/30-04-2025.txt
journal/bonus8.py
files/ideas.txt
files/projects.txt
files/weather.csv
doc.txt
e1.py
members.txt
presentation.txt
report.txt
__pycache__/functions.cpython-313.pyc
backup/bonus16-GUI.py
backup/zip_creator.py
build/gui/Analysis-00.toc
build/gui/base_library.zip
build/gui/BUNDLE-00.toc
build/gui/EXE-00.toc
build/gui/gui.pkg
build/gui/PKG-00.toc
build/gui/PYZ-00.pyz
build/gui/PYZ-00.toc
build/gui/warn-gui.txt
build/gui/xref-gui.html
build/gui/localpycs/pyimod01_archive.pyc
build/gui/localpycs/pyimod02_importers.pyc
build/gui/localpycs/pyimod03_ctypes.pyc
build/gui/localpycs/struct.pyc
dist/.DS_Store
dist/gui
dist/gui.app/Contents/Info.plist
dist/gui.app/Contents/MacOS/gui
dist/gui.app/Contents/Resources/icon-windowed.icns
dist/gui.app/Contents/_CodeSignature/CodeResources
gui.spec
